<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analysis App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="main-container">
        <form action="/process" method="post" enctype="multipart/form-data" class="content-container">
            <input type="hidden" id="file1-hidden" name="file1-hidden">
            <input type="hidden" id="file2-hidden" name="file2-hidden">
            
            <div class="title-container">
                <div class="file-upload-container">
                    <label for="file1" class="custom-file-upload">
                        <button type="button" class="upload-button" id="file1-button">Text 1</button>
                        <input type="file" id="file1" name="file1" style="display: none;" required>
                    </label>
                </div>
                
                <h1 class="title">Text Processing App</h1>
    
                <div class="file-upload-container">
                    <label for="file2" class="custom-file-upload">
                        <button type="button" class="upload-button" id="file2-button">Text 2</button>
                        <input type="file" id="file2" name="file2" style="display: none;">
                    </label>
                </div>
            </div>

            <div class="info-container">
                <div class="text-display-container">
                    <div class="text-display">
                        <pre class="text"></pre>
                    </div>
                    <div class="text-display">
                        <pre class="text"></pre>
                    </div>
                </div>
    
                <div class="buttons-container">
                    <button type="submit" name="algorithm" value="LCS" class="algorithm-button">LCS Similarity</button>
                    <button type="submit" name="algorithm" value="Palindrome" class="algorithm-button">Find Largest Palindrome</button>
                    <div class="kmp-container">
                        <input type="text" id="pattern" name="pattern" style="margin: 15px; border-radius: 25px; border: none; padding: 5px;">
                        <button type="submit" name="algorithm" value="KMP" class="kmp-button">KMP Search</button>
                    </div>
                </div>

                <div class="autocomplete-container">
                    <div class="autocomplete">
                        <label for="autocomplete" style="align-self: center; font-size: large; padding: 5px;">Auto-Complete Text</label>
                        <input type="text" id="autocomplete" name="autocomplete" autocomplete="off" style="border-radius: 25px; border-color: orange;"><br>
                        <ul id="suggestions" style="list-style-type: none;"></ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

